body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background-image: url("img/dark.png");
}
video,
canvas#tracker,
canvas#_imageData {
  margin-left: 0px;
  margin-top: 0px;
  position: absolute;
}
.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 5%;
  padding: 15px;
  width: auto;
}
.amcharts-chart-div a {
  display: none !important;
}
.loader {
    position: absolute;
    left: 49%;
    top: 20%;
    z-index: 1;
    border: 16px solid #343a40; /* bg-dark color hex */
    border-top: 16px solid #c9302c; /* btn-danger color hex */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
